/*
Note: There is no build script to compile SCSS to CSS.
You will have to do it manually, or with external tooling.
(I'm using WebStorm's built-in watcher.)
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$primary: #bf5700;
$secondary: #005E83;

html {
	box-sizing: border-box;
	overflow-x: hidden;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "PT Sans", sans-serif;
	background: #fff;
}

header {
	height: 60px;
	line-height: 60px;
	font-size: 46px;
	display: block;
	background-color: $primary;
	color: #fff;

	h1, img {
		padding-top: 5px;
		display: inline;
		height: 46px;
	}
}

input {
	box-shadow: 0 0 15px 1px #eee;
}

#swipehere {
	transform: rotate(270deg);
	transform-origin: right top;

	font-size: 32px;

	display: inline-block;
	position: fixed;
	top: 16px;
	right: 66px;

	text-align: center;
}

#form {
	background: #fff;
	display: block;
	margin: 40px auto;
	padding: 20px;
	width: 800px;
	text-align: center;
	box-shadow: 0 0 15px 4px #aaa;

	font-size: 20px;
}

#form-message {
	font-size: 34px;
	padding: 15px;
}

#form-dirinfo, #form-survey, #form-submit {
	display: none;
}

.form-block {
	margin: 10px;
	min-height: 60px; // so the "sign in" block has room to grow

	h1 {
		font-size: 28px;
	}

	table {
		width: 100%;
	}

	tr {
		display: block;
		text-align: left;
		margin: 15px 0;
	}

	td{
		display: inline-block;
		width: 40%;
		padding: 5px;
	}

	td:first-child {
		text-align: right;
	}

	td:last-child {
		text-align: left;
	}

	input {
		outline: none;
		border: 1px solid #ddd;
		padding: 5px;
		font-size: 20px;
		font-family: "PT Sans", sans-serif;
	}
}

.button {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	font-size: 24px;

	text-decoration: none;
	background-color: $primary;
	border: 1px solid $primary;

	text-transform: uppercase;

	color: #fff;
}

.button:hover{
	background-color: #fff;
	color: $primary;
}

.select-entry {
	display: block;
	padding: 15px;
	margin: 20px 0;

	border: 1px solid $primary;
}

.selected, .select-entry:hover {
	background-color: $primary;
	color: #fff;
	cursor: default;
}


footer {
	font-size: 14px;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 15px;
	color: #000;
	opacity: 0;

	a {
		color: $primary;
	}
}

footer:hover {
	opacity: 1.0;
}