/*
Note: There is no build script to compile SCSS to CSS.
You will have to do it manually, or with external tooling.
(I'm using WebStorm's built-in watcher.)
 */

$primary: #bf5700;
$secondary: #005E83;

body {

}

#main {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#main-logo {
	display: block;
	background: url(makerstudioslogo.svg) no-repeat center center;
}